<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepoc.androidnewtechnique">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <!-- <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".realm.RealmActivity"
            android:label="@string/title_activity_realm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxjava.RxJavaActivity"
            android:label="@string/title_activity_rx_java"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxbinding.RxBindingActivity"
            android:label="@string/title_activity_rx_binding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxbus.RxBusActivity"
            android:label="@string/title_activity_rx_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eventbus.EventBusActivity"
            android:label="@string/title_activity_event_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jni.JniActivity"
            android:label="@string/title_activity_jni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpannableString.SpannableStringActivity"
            android:label="@string/title_activity_spannable_string"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".andfix.AndfixActivity"
            android:label="@string/title_activity_andfix"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".services.ServiceDemoActivity"
            android:label="@string/title_activity_service_demo"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.IntentServiceDemo"
            android:exported="true" />
        <service
            android:name=".services.ServicesDemo"
            android:enabled="true"
            android:exported="true"
            android:process="com.pepoc.ServiceDemo" />
        <service android:name=".services.accessibilityservice.MyAccessibilityService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>
        <service
            android:name=".services.notification.MyNotificationListenerService"
            android:label="MyNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".screenlocker.ScreenLockService" />
        <service android:name=".services.foreground.ForegroundService" />

        <receiver android:name=".broadcastreceiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.pepoc.androidnewtechnique.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".okhttp.OkHttpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".threadpool.ThreadPollDemoActivity" />
        <activity android:name=".touchevent.TouchEventDemoActivity" />
        <activity android:name=".handler.HandlerDemoActivity" />
        <activity android:name=".sqlite.SqliteDemoActivity" />
        <activity android:name=".asynctask.AsyncTaskDemoActivity" />
        <activity
            android:name=".fragment.FragmentDemoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" />
        <activity
            android:name=".process.ProcessDemoActivity"
            android:process=":newProcess" />
        <activity android:name=".bitmap.BitmapDemoActivity" />
        <activity android:name=".listview.RecyclerViewDemoActivity" />
        <activity android:name=".textview.TextViewDemoActivity" />
        <activity android:name=".revealeffect.RevealEffectActivity" />
        <activity android:name=".svg.SVGActivity" />
        <activity android:name=".customview.CanvasDemoActivity" />
        <activity android:name=".matrix.MatrixActivity" />
        <activity android:name=".scroller.ScrollerActivity" />
        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".beziercurve.BezierCurveActivity" />
        <activity android:name=".AppIsBackground.AppGroundActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".collection.BlockingQueueActivity" />
        <activity android:name=".java.JavaBaseActivity" />
        <activity android:name=".viewstub.ViewStubDemoActivity" />
        <activity android:name=".androidbase.RotateActivity" />
        <activity android:name=".services.accessibilityservice.MyAccessibilityServiceActivity" />
        <activity android:name=".screenlocker.ScreenLockerActivity" />
        <activity android:name=".services.notification.NotificationListenerActivity" />
        <activity android:name=".customview.SlideViewActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".wifi.WifiTestActivity" />
        <activity android:name=".leakcanary.LeakCanaryTestActivity" />
        <activity android:name=".facebook.FaceboolLoginActivity" />
        <activity android:name=".customview.layout.LayoutDemoActivity" />
        <activity android:name=".customview.pulltorefresh.PullToRefreshActivity" />
        <activity android:name=".timer.TimerDemoActivity" />
        <activity
            android:name=".keyboardinput.KeyBoardInputActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".clipboard.ClipboardDemoActivity" />
        <activity android:name=".services.foreground.ForegroundServiceDemoActivity" />
        <activity android:name=".ocr.OcrDemoActivity" />
        <activity android:name=".systemlanuage.SystemLanuageActivity" />
        <activity android:name=".ocr.PreviewPictureActivity" />
        <activity
            android:name=".ocr.InterceptRectViewActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name=".camera.CameraDemoActivity" />
        <activity android:name=".camera.CameraPreviewActivity" />
        <activity android:name=".customview.draw.DrawMothedDemoActivity" />
        <activity android:name=".customview.drawable.DrawableDemoActivity" />
        <activity android:name=".customview.animation.AnimationDemoActivity" />
        <activity
            android:name=".fragment.SingleTaskDemoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".keyboardinput.EditTextDemoActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".memoryleak.MemoryLeakActivity"></activity>
    </application>

</manifest>