<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pepoc.androidnewtechnique">

    <application
        android:name=".TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".realm.RealmActivity"
            android:label="@string/title_activity_realm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxjava.RxJavaActivity"
            android:label="@string/title_activity_rx_java"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxbinding.RxBindingActivity"
            android:label="@string/title_activity_rx_binding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".rxbus.RxBusActivity"
            android:label="@string/title_activity_rx_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".eventbus.EventBusActivity"
            android:label="@string/title_activity_event_bus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jni.JniActivity"
            android:label="@string/title_activity_jni"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
